:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: 1fr 12fr 3fr;
  height: 100vh;
  margin: 0;
  background-color: rgb(21, 21, 21);
  color: rgb(202, 202, 202);
}
header {
  margin: 0 auto;
}

.nav {
  padding: 0;
  position: absolute;
  right: 48%;
  top: 0;
}

img {
  margin: 5px 10px;
}

a img:hover {
  height: 41px;
}

.nav li {
  font-size: 20px;
  padding: 2px;
  list-style-type: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: rgb(202, 202, 202);
  list-style: none;
}

main {
  margin: 0 auto;
  width: 50vw;
  list-style-type: none;
}
main > li {
  padding: 1rem;
  font-size: 25px;
}
.date {
  color: grey;
  display: block;
  font-size: 12px;
}
main > li:nth-child(1) {
  display: none;
}

.size {
  display: none;
}

footer {
}
